<h1>all the posts</h1>
<% @posts.each do |p| %>
	<h3><%= p.title %></h3>
	<p><%= p.content %></p>
	
	<% if logged_in? %>
		<p>Written by - <%= User.find_by(id: p.author_id.to_s).name %> </p>
	<% end %>
<% end %> 

<br>
<br>