<div class="page-content">
	<br>
	<h1>ALL THE POSTS!</h1>
	<br>
	<% @posts.each do |p| %>
		<h3><%= p.title %></h3>
		<div class="content-author-wrapper">
			<p><%= p.content %></p>
			
			<% if logged_in? %>
				<p>Written by - <%= User.find_by(id: p.author_id.to_s).name %> </p>
			<% end %>
		</div>
		<br>
	<% end %> 
</div>